.font1 {
    font-family: font1;
}

.font2 {
    font-family: font2;

    &-bold {
        font-weight: bold;
    }
}

@font-face {
    font-family: font1;
    src: url(./fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(./fonts/Almarai-Regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(./fonts/Almarai-Bold.ttf);
    font-weight: bold;
}